*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.mainConter{
    /* height: 100vh; */
    width: 100%;
    background: linear-gradient(#0C0324,rgb(21, 4, 21) );
    /* background-color: rgb(21, 4, 21); */

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211 ,0.5);
}
.nav img{
    border-radius: 50%;
    margin: 10px;
}
.fa-bars-staggered{

    color: #fff;
    font-size: 30px;
}
.contentpara{
    width: 500px;
}
.contentpara h1{
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fff;

}
.contentpara p{
    color: rgb(255, 255, 255 ,0.9   );
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;

}
.contentContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
}
.roadmap{
    height:auto;
    background: linear-gradient(rgb(21, 4, 21) ,rgb(21, 4, 21)  );
    
}

.roadmaocard{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}


/* /roadmap/ */


.container1 {
    width: 350px;
    /* padding: 10px; */
    height: 450px;
    background:   rgb(0, 0, 0 ,0.3);
    background: linear-gradient(
        109.4deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 101.64%
      );
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.267);
      box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.05);

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; 
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */

}

.timelineArea {
    padding: 20px;
    border-left: 4px solid rgb(0, 0, 0 ,0.7);
    
}

.timeline {
    /* background: #00BFFF; */
       background: linear-gradient(
        109.4deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 101.64%
      );
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.267);
      box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.05);

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; 
    margin-bottom: 10px;
    padding: 19px;
    border-radius: 10px;
    margin-left: 15px;
    width: 250px;

    position: relative;
}

.timeline>p {
    color: #fff;
    font-size: 16px;
}

.timeline:nth-child(3) {
    margin-bottom: 0;
}

.timeline::before {
    position: absolute;
    content: "";
    background: rgb(0, 0, 0 ,0.7);
    border: 4px solid rgb(0, 0, 0,0.7);
    height: 20px;
    width: 20px;
    border-radius: 50%;

    left: -50px;
}

.phase1 {
    background-color: transparent;
    text-align: center;
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

.phaseHeading {
    border: 1px solid black;
    /* margin-top: 10px; */
    color: #fff;
    
    display: block;
    width: 200px;
    padding: 4px 15px;
    /* background-color: #fff; */
    background: linear-gradient(
        109.4deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.05) 101.64%
      );
      backdrop-filter: blur(20px);
      border: 1px solid rgba(255, 255, 255, 0.267);
      box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.05);

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; 
    border-radius: 10px;

}

.phase-center {

    display: flex;
    justify-content: center;
    margin-right: 60px;
    /* margin-top: 30px; */
    /* margin-top: 10px; */

}
.heading h1{
    font-size: 50px;

    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff

}




.check{
    overflow: hidden;
    /* border: 1px solid black; */
    
}
.scroll-main{

    
    display: flex;
    justify-content: center;
    width: 3400px;
    /* border: 1px solid black; */
    flex-wrap: nowrap;
    
}
.scrollimg{
    transform: translateX(0%);
    word-wrap: none;
    animation:  scrolling 15s linear infinite;
    
}

.scrollimg img ,.scrolcheck img{
    
 
    margin: 3px;
}
.changepara{
    /* border: 1px solid wheat; */
    width: 50%;

}
@keyframes scrolling {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}



/* //Seconf */



.scrollimg2{
    transform: translateX(-100%);
    animation:  scrolling2 15s linear infinite;

    
}

.scrollimg2 img{
    
 
    margin: 3px;
}

@keyframes scrolling2 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.twoimg{
    display: flex;
    justify-content: space-between;
    
    padding: 6px;
}


@media only screen and (max-width: 1016px){
    /*Tablets [601px -> 1200px]*/
    .contentContainer{
        height: auto;
        margin-top: 120px;
        padding: 60px;
        
    }
    .contentImgs{
        margin-top: 50px;
    }
}



@media only screen and (max-width:600px){
    
    .contentpara h1{
        font-size: 40px !important;
    }
    .contentpara P{
        font-size: 17px ;
    }

}
@media only screen and (max-width:550px){
    .twoimg img{
        width: 200px;
    }
}
@media only screen and (max-width:439px){
    .twoimg img{
        width: 150px;
    }
    .contentpara h1{
        font-size: 30px !important;
    }
    .contentpara P{
        font-size: 14px ;
    }
}
    